/* You can add global styles to this file, and also import other style files */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    flex: 1 0 auto;
    padding: 20px 0;
  }